<!-- Spotlight -->
<section class="spotlight style2 orient-right content-align-left image-position-center onload-image-fade-in" id="about" style="padding-top: 1rem;">
    <div class="content">
        <h2>About Brendan Cullen</h2>
        <p>
            I am a geospatial professional bridging the gap between geography, planning, and programming. I have always loved maps, technology, and the uniqueness of place. Since graduating with a B.A. in in Geography and Environmental Studies, I have discovered the fascinating world of data science and visualization. I am using this blog to share my journey towards becoming a geospatial data scientist. I hope you enjoy it, and if you have any questions, feel free to reach out!
        </p>
        <blockquote>
            I am currently a Planning Technician at the Chautauqua County Division of Planning & Community Development. Opinions are my own.
        </blockquote>
        <ul class="actions">
            <li><a href="#" class="button">Resume</a></li>
            <li><a href="#" class="button">Contact Me</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/profile_picture.jpg" alt="Profile Picture" />
    </div>
</section>