				<!-- Banner -->
                <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
                    <div class="content">
                        <header>
                            {{ with .Site.Title }}<h1>{{.}}</h1>{{end}}
                            <p>
                                Cartograpy & GIS</br>
                                Urban & Regional Planning</br>
                                Data Science & Visualization</br>
                            </p>
                        </header>
                        <p>
                            <a href="#first" class="smooth-scroll-middle">Projects</a>
                            <a href="#first" class="smooth-scroll-middle" style="padding-left: 5px;">About</a>
                            <a href="#first" class="smooth-scroll-middle" style="padding-left: 5px; padding-right: 5px;">Blog</a>
                            <a href="#first" class="smooth-scroll-middle">Contact</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="images/usgs-IHdQVLwEIdk-unsplash.jpg" alt="USGS Photo" />
                    </div>
                </section>