<!-- Banner -->
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <header>
            {{ with .Site.Title }}<h1>{{.}}</h1>{{end}}
            <p>
                Cartography & GIS</br>
                Urban & Regional Planning</br>
                Data Science & Visualization</br>
            </p>
        </header>
        <p>
            <a href="/projects" class="smooth-scroll">Projects</a>
            <a href="/about" class="smooth-scroll" style="padding-left: 5px;">About</a>
            <a href="/blog" class="smooth-scroll" style="padding-left: 5px; padding-right: 5px;">Blog</a>
            <a href="/contact" class="smooth-scroll">Contact</a>
        </p>
    </div>
    <div class="image">
        <img src="images/usgs-IHdQVLwEIdk-unsplash.jpg" alt="USGS Photo" />
    </div>
</section>