<html lang="en">
    <!DOCTYPE HTML>
    <html>
        
        {{ partial "template/head" . }}
    
        <body class="is-preload">
    
            <!-- Wrapper -->
            <div id="wrapper" class="divided">
    
                <!-- Main -->
                {{ partial "banner" . }}
                {{ partial "gallery" . }}
                {{ partial "items" . }}
                {{ partial "template/footer" . }}

            <!-- Wrapper -->
            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "template/scripts" . }}
    
        </body>
    </html>