{{ define "content" }}
<section class="banner style1 orient-right content-align-left image-position-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <header>
            <h1>Contact</h1>
            <p>Please get in touch!</p>
            <a href="mailto:brendancullen996@gmail.com" class="icon style2 fa-envelope"></a>
            <a href="https://www.linkedin.com/in/brendan-cullen-b7699615b/" class="icon brands style2 fa-linkedin"></a>
            <a href="https://twitter.com/cullen_carto" class="icon brands style2 fa-twitter"></a>
            <a href="https://github.com/bren96" class="icon brands style2 fa-github"></a>
        </header>
        <br>
        <p>
            <a href="/projects" class="smooth-scroll">Projects</a>
            <a href="/about" class="smooth-scroll" style="padding-left: 5px;">About</a>
            <a href="/blog" class="smooth-scroll" style="padding-left: 5px; padding-right: 5px;">Blog</a>
            <a href="/contact" class="smooth-scroll">Contact</a>
        </p>
    </div>
    <div class="image">
        <img src="/usgs-35Z2ylLRCO8-unsplash.jpg" alt="USGS Photo" />
    </div>
</section>
{{ end }}